.newRegistPage
  .newRegistPage__title
    新規登録

  .newRegistPage__main
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .newRegistPage__main__name
        .newRegistPage__main__name--title
          名前
        .newRegistPage__main__name--form
          = f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "名前は全角５文字以内でご入力ください", class: "form"
      .newRegistPage__main__email
        .newRegistPage__main__email--title
          Email
        .newRegistPage__main__email--form
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form"
      .newRegistPage__main__password
        .newRegistPage__main__password--title
          Password
        - if @minimum_password_length
          .newRegistPage__main__password--form
            = f.password_field :password, autocomplete: "new-password", placeholder: "パスワードは半角６文字以上でご入力ください", class: "form"

      .newRegistPage__main__submit
        = f.submit "新規登録する", class: "submit"