.loginPage
  .loginPage__title
    ログイン
  .loginPage__main
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .loginPage__main__email
        .loginPage__main__email--title
          Email
        .loginPage__main__email--form
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form"

      .loginPage__main__password
        .loginPage__main__password--title
          = f.label :password
        .loginPage__main__password--form
          = f.password_field :password, autocomplete: "current-password", class: "form"

      .loginPage__main__submit
        = f.submit "ログイン", class: "submit"
