-# - if flash[:notice]
-#   .messageList__flash
-#     = flash[:notice]

- @messages.each do |message|
  %li.messagePost
    .messagePost__userName
      = message.user.name
    .messagePost__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .messagePost__message
      = message.text

    - if user_signed_in?
      - if message.user_id == current_user.id
        .messagePost__lower
          .messagePost__lower__edit
            = link_to "編集", "/messages/#{message.id}/edit", method: :get
          .messagePost__lower__delete
            = link_to "削除", "/messages/#{message.id}", method: :delete
      - else
        .messagePost__lower
          .messagePost__lower__like
            いいね件数：
            = message.user.name
            -# - if current_user.already_liked?(@@message)
    - else
