.header
  .header--logo
    = image_tag "Light_Frame.png", alt:"Unity Logo"
  %h1
    UNITYCHAN GAME CENTER
  .header__right
    - if user_signed_in?
      .header__right--loggingIn
        .loggingName
          こんにちは
          = current_user.name
          様
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'loggingIn'
    - else
      .header__right--regist
        = link_to "新規登録", '/users/sign_up', class: 'regist'
      .header__right--login
        = link_to "ログイン", '/users/sign_in', class: 'login'

.main
  .main__playImage
    = link_to image_tag("unityplay1.png", alt: "サンプル画像"), 'http://localhost:51339/' #UnityゲームのURLを貼る
  .main__impressions
    %p
      player impressions
    %ul.messageList
      = render partial: 'impressions'
  - unless user_signed_in?
    .main--logoutMessage
      %p ※ゲームのご感想はログイン後に投稿いただけます。

  .main__form
    = form_for [@message] do |f|
      - if user_signed_in?
        = f.text_field :text, class: 'form', placeholder: '感想をお書きください'
        = f.submit '投稿', class: 'sendButton'

.footer
  %ul
    %li
      = link_to "プライバシーポリシー", 'https://www.google.com/', class: 'footerNav', target: 'blank'
    %li
      = link_to "利用規約", 'https://www.google.com/', class: 'footerNav', target: 'blank'
    %li
      = link_to "お問い合わせ", 'https://www.google.com/', class: 'footerNav', target: 'blank'
  .footer__copy
    &copy; 2019 UNITYCHAN GAME CENTER ALL RIGHT RESERVED.